---
- name: Enable flatpak repo for discord
  shell: sudo flatpak remote-add --if-not-exists flathub https://flathub.org/repo/flathub.flatpakrepo
  become: true

- name: Install discord flatpak
  shell: sudo flatpak install -y com.discordapp.Discord
  become: true
