---
- name: Install VSCode key
  shell: sudo rpm --import https://packages.microsoft.com/keys/microsoft.asc
  become: true

- name: Install VSCode repo
  shell: sudo sh -c 'echo -e "[code]\nname=Visual Studio Code\nbaseurl=https://packages.microsoft.com/yumrepos/vscode\nenabled=1\ngpgcheck=1\ngpgkey=https://packages.microsoft.com/keys/microsoft.asc" > /etc/yum.repos.d/vscode.repo'
  become: true

- name: Update package cache and install VSCode
  shell: dnf check-update && sudo dnf install -y code
  become: true

- name: Install VSCode Extensions
  shell: "code --install-extension {{item}}"
  become: true
  with_items: "{{vscode_extensions}}"
